<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/styleCam.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <%- include('./navBar',{state: 'cam'}) %>

        <div class="container">
            <div class="row my-auto" >
                <div class="img col-sm-9">
                    <img src="<%= cam %>" class="p-5 img-fluid rounded my-auto mx-auto d-block">
                </div>
                <div class="pannal col-sm-3 my-auto mx-auto">
                    <a href="<%= image %>" target="_blank" download>
                        <button class="text-center btn btn-info"><h4>사진 찍기</h4></button>
                    </a>
                    <a href="/led/on">
                        <button class="text-center btn btn-info"><h4>조명 켜기</h4></button>
                    </a>
                    <a href="/led/off">
                        <button class="text-center btn btn-info"><h4>조명 끄기</h4></button>
                    </a>    
                </div>
            </div>
        </div>
        
    
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
