<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>See the Sea</title>
        <link rel='stylesheet' href='/stylesheets/styleMyPage.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>
        <%- include('./navBar',{state: 'lamp'}) %>

        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">조명 설정</h5>
                            <form class="form-signin" action="/led" method="POST">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary active">
                                        <input type="radio" name="enable" value="true" autocomplete="off" checked> 타이머 활성화 
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="enable" value="false" autocomplete="off"> 타이머 비활성화
                                    </label>
                                </div>
                                <div class="form-label-group">
                                    <input type="time" name="start" id="inputPasswd" class="form-control" placeholder="기존 비밀번호" required>
                                    <label for="inputPasswd">조명 점등 시간</label>
                                </div>
                                
                                <div class="form-label-group">
                                    <input type="time" name="end" id="inputId" class="form-control" placeholder="새로운 ID" required>
                                    <label for="inputId">조명 소등 시간</label>
                                </div>

                                <p class="text-danger"><%= temp %></p>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">변경</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
